*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
main{
    background-image: url(panel.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}
.add-first{
    color: #cccccc;
    font-size: 0.85 rem;
    margin-left: 15px;
}
.add-second{
    font-size: 1rem;
    margin-left:3px ;
}
.add-icon{
    display: flex;
}
.blink{
    border: 1.5px solid transparent; 
}
.blink:hover{
    border: 1.5px solid white;
}

/* box-3 styl */

.nav-search{
    display: flex;
    justify-content:space-between;
    background-color:rgb(185, 173, 71);
    width: 620px; 
    height: 40px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.nav-search:hover{
    border: 3px solid rgb(192, 192, 6);
}
.search-select{
    background-color: #f3f3f3;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    height: 40px;
    width: 50px;
    text-align: center;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search{
    width: 45px;
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 1.2rem;
    color:#0f1111;
}

/* box-4 styl */

.span{
    font-size: 0.7rem;
}
.signin a{
    color: white;
    text-decoration: none;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}

/* box-6 styl */

.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    display: flex;
}
.nav-cart p{
    font-size: 0.85rem;
    font-weight: 700;
    align-self: center;
}

/* Panel */

.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;  
    color: white;
    align-items: center;
    justify-content: space-between;
}
.panel-ops p{
    display: inline;
    margin-right: 15px;
}
.panel-ops{
    width: 80%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}


/* hero-section */

.hero-section{
    width: 100%;
    height: 35rem;
    display: flex;
    align-items:end;
    justify-content: center;
}
.hero-text{
    background-color: rgba(255, 255, 255, 0.608);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-bottom: 25px;
}
.hero-text a{
    color: #007185;
     
}

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    
}
.box{
    /* border: 2px solid black; */
    height:400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.box-img{
    height: 300px;
    background-size: contain;
     
}
.box-content{
    margin-left:1rem;
    margin-right: 1rem;
}
.box-content a{ 
    color: #007185;
}


/* Footer Styl */
footer{
    margin-top: 15px;
}

.top-panel{
    height: 50px;
    background-color:#37475a;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-panel a{
    color: white;
    font-size: 0.85rem;
}
.top-panel a:hover{
    text-decoration: underline;
    color: red;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.center-panel{
    height: 300px;
    background-color: #222f3d;
    color: white;
    display: flex;
    justify-content: space-evenly;
    
}
.center-panel a{
    color: white;
    text-decoration: none;
    font-size: 0.85rem;
}
ul a{
    display: block;
    margin-top:10px ;
}
ul{
    margin-top: 50px;
}
.center-panel a:hover{
    text-decoration: underline;
}

/* Bottom Palnel */

.bottom-panel{
    height: 70px;
    background-color:#222f3d;
    color: white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url(amazon_logo.png);
    background-size: cover; 
    height: 50px;
    width: 100px;
}
.last-panel{
    height: 80px;
    background-color:#0f1111;
    color: white;
    font-size: 0.85rem;
    text-align: center;
}
.pages{
    padding-top: 25px;
    
}
.copyright{
    padding-top: 5px;
}
